p::selection {
  background-color: #0ff;
  color: #8b0000
}
p::first-letter {
  font-size: 2em
}
h2 {
  background: linear-gradient(to left,#7065d6,#e66ad5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 500px;
  margin: 0 auto;
  text-align: center
}
span {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 200px;
  position: relative
}